.navbar {
    margin-top: 5px;
    font-size: 25px;
}

navbar navbar-expand-lg navbar-light bg-white {
    margin-bottom: 5px;
}

.navbar-brand {
    font-size: 30px;
}

.carousel-bg {
    /* Image Source: https://www.toptal.com/designers/subtlepatterns/y-so-serious-pattern/ */
    background-image: url(../html/index/images/carousel/background.png)
}

.carousel.slide {
    height: 20%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.lead {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.lead a {
    color: rgb(90, 90, 90);
}

.card img {
    height: 150px;
    width: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card-text a {
    color: black;
}

.container.pt-4 {
    margin-bottom: 50px;
}


footer.text-center.text-white {
    font-size: 25px;
}

/* Source for 'flex-wrapper': https://stackoverflow.com/a/51410022 */
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* Source for 'flex-wrapper': https://stackoverflow.com/a/36091958 */
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

object.pdf-viewer {
    position: absolute;
    height: 100%;
}

.container.pt-4#contact-form {
    
}

/*
@media only screen and (min-height : 1025px) {
    footer.text-center.text-white {
        bottom: 0;
        position: absolute;
        width: 100%;
    }
}
*/